<footer>
    <ul>
        <a title="Twitter" href="https://twitter.com" target="_blank"><img src="../../../assets/icons8-twitter-50.png" alt="Twitter" (mouseenter)="enlargeImage($event)" (mouseleave)="resetImage($event)"></a>
        <a title="Instagram" href="https://www.instagram.com" target="_blank"><img src="../../../assets/icons8-instagram-48.png" alt="Instagram" (mouseenter)="enlargeImage($event)" (mouseleave)="resetImage($event)"></a>
        <a title="LinkedIn" href="https://www.linkedin.com/in/talía-pérez-suárez-5927a7200/" target="_blank"><img src="../../../assets/icons8-linkedin-50.png" alt="LinkedIn" (mouseenter)="enlargeImage($event)" (mouseleave)="resetImage($event)"></a>
    </ul>
</footer>