ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;

    li {
        justify-content: center;
        margin: 20px;
    }

}