<h1>About me</h1>
<div>
    <img [src]="imageUrl" (mouseenter)="changeImage()" (mouseleave)="resetImage()" alt="Imagen">
    <p>Soy Talía y soy la persona encargada de este proyecto.
    
    Me considero divertida, simpática y amable que se dedica de lleno a sus pasiones. Aunque siempre he trabajado en el sector del marketing, con el tiempo me di cuenta de que mi verdadero amor está en el diseño y la programación. No se trata de un simple capricho pasajero, sino de una auténtica vocación. Durante mi máster en diseño web, tuve la oportunidad de asistir a un taller de programación y desde entonces he estado empeñada en aprender por mi cuenta. Fue entonces cuando descubrí el poder de los bootcamps, con su metodología de aprendizaje única y las innumerables oportunidades que brindan.

    Cuando comencé este bootcamp, aún estaba trabajando en marketing, pero hace un mes me decidieron prescindir de mi debido a que no cumplía con las expectativas en diseño gráfico para un puesto junior de marketing. Sin embargo, creo firmemente que las cosas suceden por alguna razón, y en este caso, esa razón me permite dedicarme al cien por ciento a estudiar y dar lo mejor de mí. El cambio repentino en mi rutina me tomó en medio de esta asignatura en la que tuve que desarrollar un proyecto en Angular, lo que hizo que me sintiera un poco rezagada.
    
    A pesar de los desafíos, estoy realmente orgullosa del resultado que logré con mi proyecto. Aunque siento que podría haber realizado una maquetación  más bonita, cada hora invertida en este proceso de lucha valió la pena. Cada obstáculo superado me ha enseñado valiosas lecciones y me ha llevado un paso más cerca de alcanzar mis metas en el mundo del diseño y la programación.
    
    Gracias por visitar mi página web, donde podrás explorar y descubrir el trabajo en el que he puesto tanto esfuerzo y dedicación. Estoy emocionada por las oportunidades que el futuro me depara y por las posibilidades de crear experiencias digitales impactantes y cautivadoras.</p>
</div>


